.contact_section {
	display         : flex;
	align-items     : center;
	justify-content : space-around;
	height          : auto;
	min-height      : 80vh;
}

.contact_form {
	width  : 45%;
	margin : 0 0 0 50px;
}

.contact_title {
	font-size   : 40px;
	font-weight : bold;
	margin      : 30px 0 30px 0;
	color       : #1597E5;
}

.contact_info {
	width : 45%;
}

input {
	width  : 40%;
	height : 40px;
	margin : 0 20px 20px 0;
}

textarea {
	width : 83%;
}

input, textarea {
	font-size     : 16px;
	padding       : 20px;
	border-radius : 20px;
}

.contact_button {
	font-size : 16px;
	margin    : 30px 0 30px 0;
}

@media screen and  (max-width : 1000px) {
	.contact_section {
		display : block;
	}
	
	.contact_form {
		width : 100%;
	}
	
	.contact_info {
		margin     : 50px auto;
		text-align : center;
	}
}